*.zip
*.jar
*.mod
*.pyc
*~
mx.common/.project
mx.common/.pydevproject
mx.common/*.pyc
mx.common/env
mx.common/eclipse-launches/**
.DS_Store
build.xml
workingsets.xml
hs_err_pid*.log
common/**
lib/**
mxbuild/**
mx.imports/**
.idea/**
build/**
projects/.project
projects/*/nbproject/
projects/*/build.xml
projects/*/\.settings
projects/*/\.classpath
projects/*/\.project
projects/*/\bin
projects/*/\.checkstyle
projects/*/*.iml
projects/*/\.factorypath
